<style>
  :host {
    width: 100%;
  }
</style>

<div
  *ngIf="loading"
  class="left-0 top-0 w-full h-full fixed bg-black opacity-50 z-50"
>
  <div class="left-0 top-0 w-full h-full absolute">
    <div
      class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2"
    >
      <app-spinner></app-spinner>
    </div>
  </div>
</div>

<div class="h-screen flex flex-col items-center justify-center gap-4">
  <div
    class="grid grid-cols-2 lg:gap-x-8 gap-x-6 gap-y-7 shadow-xl border p-10 rounded-md"
  >
    <div *ngFor="let connector of connectors">
      <div
        class="flex items-center justify-center flex-col cursor-pointer"
        (click)="connect(connector.connectorId)"
      >
        <img
          src="./assets/images/{{ connector.icon }}"
          alt="{{ connector.title }}"
          class="w-10 h-10 rounded-full"
        />
        <div class="ml-2 mt-2">
          <div class="font-bold">{{ connector.title }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
