<div class="flex">
  <div class="hidden w-1/4 col-start-1 lg:block sticky top-0 h-screen pt-32">
    Hello World
  </div>
  <div class="lg:w-3/4 lg:px-8 w-full lg:pt-32 pt-28">
    <div
      class="top-0 pt-24 lg:bg-transparent left-0 px-5 lg:pt-0 duration-300 lg:px-0 fixed w-full lg:relative z-20 flex items-end justify-between h-14 lg:pb-4 pb-3 border-b border-opacity-10 border-black bg-white"
    >
      <h1
        class="lg:text-4xl text-lg uppercase font-extrabold tracking-tight font-sans"
      >
        <span class="">Doodles</span>
      </h1>
      <div class="flex items-center pb-0">
        <button
          type="button"
          class="flex hover:opacity-60 duration-300 lg:py-2 lg:px-4 lg:rounded lg:bg-gray-200 mr-2 lg:mr-2"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
            class="w-5 h-5"
          >
            <path
              d="M7 3a1 1 0 000 2h6a1 1 0 100-2H7zM4 7a1 1 0 011-1h10a1 1 0 110 2H5a1 1 0 01-1-1zM2 11a2 2 0 012-2h12a2 2 0 012 2v4a2 2 0 01-2 2H4a2 2 0 01-2-2v-4z"
            ></path>
          </svg>
          <span
            class="block uppercase tracking-wide text-xs font-mono pt-0.5 pl-2"
            >My Azukis</span
          >
        </button>
      </div>
    </div>

    <app-gallery-list
      [doodles]="doodles"
      class="mt-10 grid lg:grid-cols-4 2xl:grid-cols-5 grid-cols-2 lg:gap-x-6 gap-x-4 lg:gap-y-2 gap-y-1 lg:col-span-3"
    >
    </app-gallery-list>

    <div class="col-start-1 mb-4 lg:col-span-3 2xl:col-span-5 col-span-2">
      <button
        class="w-full bg-black text-white py-4 uppercase font-mono disabled:cursor-not-allowed text-2xs mt-8"
      >
        Load More
      </button>
    </div>
  </div>
</div>
