<style>
  :host {
    width: 100%;
  }
</style>

<div class="lg:grid lg:grid-cols-4 w-full flex flex-col">
  <div class="lg:col-span-1 lg:block lg:sticky lg:top-0 lg:h-screen pt-32">
    <app-gallery-filters
      [disabled]="loading"
      [filters]="filters"
      (filtersChangeEvent)="refreshDoodles($event)"
    ></app-gallery-filters>
  </div>
  <div class="lg:col-span-3 lg:px-8 w-full lg:pt-32">
    <div
      class="top-0 items-center pt-24 lg:bg-transparent left-0 px-5 lg:pt-0 duration-300 lg:px-0 fixed w-full lg:relative z-20 flex justify-between h-14 lg:pb-4 pb-6 border-b border-opacity-10 border-black bg-white"
    >
      <h1 class="lg:text-4xl text-lg uppercase font-extrabold tracking-tight">
        <span class="">Doodles</span>
      </h1>

      <div class="flex items-center pb-0">
        <label class="flex justify-between items-center cursor-pointer">
          <div class="uppercase font-bold mr-3 duration-150 ease-in">
            {{ !myDoodles ? "All doodles" : "My Doodles" }}
          </div>
          <input
            [checked]="myDoodles"
            [disabled]="loading"
            (change)="updateMyDoodles($event)"
            type="checkbox"
            class="sr-only appearance-none peer"
          />
          <span
            class="w-12 h-4 flex items-center shadow-inner flex-shrink-0 bg-gray-200 rounded-full duration-150 ease-in-out peer-checked:bg-red-300 after:w-6 after:h-6 after:bg-white after:rounded-full after:shadow after:duration-150 peer-checked:after:translate-x-6"
          ></span>
        </label>
      </div>
    </div>

    <app-gallery-list
      [doodles]="doodles"
      class="mt-10 grid lg:grid-cols-4 2xl:grid-cols-5 grid-cols-2 lg:gap-x-6 gap-x-4 lg:gap-y-2 gap-y-1 lg:col-span-3"
    >
    </app-gallery-list>
    <div class="col-start-1 mb-4 lg:col-span-3 2xl:col-span-5 col-span-2">
      <button
        class="w-full bg-black text-white py-4 uppercase font-mono disabled:cursor-not-allowed text-2xs mt-8"
      >
        Load More
      </button>
    </div>
  </div>
</div>
