<style>
  :host {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace;
    /* font-family: Comic Neue, sans-serif;  */
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
  }
</style>

<app-nav [activeRoute]="activeRoute"></app-nav>

<main [@routeAnimations]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</main>
