<a class="group cursor-pointer text-sm lg:-20"
  ><div
    @fadeIn
    class="w-full lg:group-hover:scale-105 group-hover:shadow-me rounded-xl square aspect-w-1 aspect-h-1 overflow-hidden bg-gray-100 shadow-me"
    style="background: rgb(161, 158, 153)"
  >
    <img
      src="{{ 'https://ipfs.io/ipfs/' + doodle.image.substring(7) }}"
      alt=""
      class="duration-300 w-full h-full object-center object-cover"
    />
  </div>
  <p
    class="opacity-50 mt-3 uppercase font-mono tracking-widest text-3xs text-center"
  >
    Doodle
  </p>
  <h3 class="font-400 pb-2 -mt-1 text-2xs tracking-wider text-center uppercase">
    No. {{ doodle.id }}
  </h3></a
>
